<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Item - Online Auction</title>
    <link rel="stylesheet" href="./css/sellCss.css">
  </head>
  <body>
    <header>
      <div class="logo">Online auction</div>
      <nav>
        <ul>
            <li><a th:href="@{/start}" method="get">Home</a></li>
            <!-- <li><a href="#">Browse Items</a></li> -->
            <li><a th:href="@{/sellitem}" method="get">Sell Item</a></li>
            <li><a th:href="@{/showitem}" method="get">Show Item</a></li>
            <li><a th:href="@{/logout}" method="get">Log Out</a></li>

        </ul>
      </nav>
    </header>

    <div class="hero">
      <div class="intro">
        <h1>Sell Your Item</h1>
        <form th:action="@{/sellitem}" method="post">
          <label for="name">Item Name:</label>
          <input type="text" id="name" name="name">

          <label for="description">Item Description:</label>
          <textarea id="description" name="description"></textarea>

          <label for="price">Starting Price:</label>
          <input type="text" id="price" name="price">

          <!-- <label for="item-image">Item Image:</label>
          <input type="file" id="item-image" name="item-image"> -->

          <button type="submit">Submit Item</button>
        </form>
      </div>
    </div>

    <!-- <footer>
      <p>&copy; 2023 Online Auction. All rights reserved.</p>
    </footer> -->
  </body>
</html>
